/*
  STYLING THE HEADER
*/
header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  align-items: center;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
}

.nav-link {
  display: inline-block;
  padding: 0 1rem;
  margin: 0 1rem;
}

nav a {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}

.hamburger {
  display: none;
}

.hamburger i {
  color: #191919;
}

#hamburger-menu {
  display: none;
  position: fixed;
  width: 7rem;
  height: 100%;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  padding: 6rem 2rem;
  top: 0;
  right: 0;
  z-index: 1;
}

#hamburger-menu .close-icon {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.hamburger-link {
  display: block;
  margin-bottom: 1.5rem;
  text-decoration: underline;
}

/*
  GENERAL MAIN STYLINg
*/

main {
  padding: 2rem 4rem;
}

section {
  padding: 1rem 0;
  margin: 2rem 0;
}

/*
  STYLING THE FOOTER
*/

footer {
  margin: 0 4rem;
  padding: 2rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-links-container {
  display: flex;
  justify-content: space-between;
}

.contacts {
  margin-right: 5rem;
}

.contacts a,
.contacts p,
.github-link a,
.github-link p {
  display: block;
  text-align: left;
  font-size: 1rem;
}

.fa-linkedin {
  margin-left: 0.2rem;
}

.contacts a,
.github-link a {
  margin: 1rem 0;
}

.github-link a {
  margin-top: 1.8rem;
}

.copyright {
  margin-bottom: 2rem;
}

.copyright i, .copyright p {
  display: inline-block;
  font-size: 1rem;
}

/*
  RESPONSIVE PROPERTIES
*/

@media only screen and (max-width: 690px) {
  /* about me page */
  header {
    padding: 1.5rem 2rem;
  }

  footer {
    margin: 0 2rem;
  }

  main {
    padding: 1rem 2rem;
  }

  nav {
    display: none;
  }
  
  .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 510px) {
  .footer-links-container {
    display: block;
  }

  .contacts {
    margin-bottom: 4rem;
    margin-right: 0;
  }
}
