/*
  STYLING THE HEADER
*/
header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  align-items: center;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
}

.nav-link {
  display: inline-block;
  padding: 0 1rem;
  margin: 0 1rem;
}

nav a {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}

.hamburger {
  display: none;
}

.hamburger i {
  color: #191919;
}

#hamburger-menu {
  display: none;
  position: fixed;
  width: 7rem;
  height: 100%;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  padding: 6rem 2rem;
  top: 0;
  right: 0;
  z-index: 1;
}

#hamburger-menu .close-icon {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.hamburger-link {
  display: block;
  margin-bottom: 1.5rem;
  text-decoration: underline;
}

/*
  GENERAL MAIN STYLINg
*/

main {
  padding: 2rem 4rem;
}

section {
  padding: 1rem 0;
  margin: 2rem 0;
}

/*
  STYLING THE FOOTER
*/

footer {
  margin: 0 4rem;
  padding: 2rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-links-container {
  display: flex;
  justify-content: space-between;
}

.contacts {
  margin-right: 5rem;
}

.contacts a,
.contacts p,
.github-link a,
.github-link p {
  display: block;
  text-align: left;
  font-size: 1rem;
}

.fa-linkedin {
  margin-left: 0.2rem;
}

.contacts a,
.github-link a {
  margin: 1rem 0;
}

.github-link a {
  margin-top: 1.8rem;
}

.copyright {
  margin-bottom: 2rem;
}

.copyright i, .copyright p {
  display: inline-block;
  font-size: 1rem;
}

/*
  RESPONSIVE PROPERTIES
*/

@media only screen and (max-width: 690px) {
  /* about me page */
  header {
    padding: 1.5rem 2rem;
  }

  footer {
    margin: 0 2rem;
  }

  main {
    padding: 1rem 2rem;
  }

  nav {
    display: none;
  }
  
  .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 510px) {
  .footer-links-container {
    display: block;
  }

  .contacts {
    margin-bottom: 4rem;
    margin-right: 0;
  }
}

/*
  STYLING THE ABOUT ME PAGE
  -- about me
*/

.informations {
  position: relative;
}

.text-container, .portrait-container {
  display: inline-block;
}

.portrait-container {
  width: 15%;
}

.portrait-container img {
  width: 100%;
  border-radius: 2%;
  max-width: 233px;
}

.text-container {
  position: absolute;
  top: 0;
  margin-left: 5rem;
  width: calc(100% - 15% - 6rem);
}

.text-container p {
  text-align: left;
  line-height: 1.5;
}

/*
  STYLING THE ABOUT ME PAGE
  -- knowledge
*/

.knowledge-list-container {
  width: 100%;
}

.knowledge-list-container p {
  margin-bottom: 1.2rem;
}

.knowledge-list-container ul {
  list-style-type: square;
  margin-left: 2rem;
}

.knowledge-list-container li:not(:last-child) {
    margin-bottom: 1.2rem;
}

/*
  STYLING THE ABOUT ME PAGE
  -- skills
*/

.skills p {
  text-align: justify;
  line-height: 1.5;
}

.skills-icons-container {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 0.5rem 0;
  flex-flow: row wrap;
  width: 60%;
}

.icon-container {
  position: relative;
  padding: 1rem 0;
  margin: 1rem 0;
}

.line-break {
  width: 100%;
  display: none;
}

.hover-text {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #747474;
  font-size: 1rem;
  color: #fff;
  white-space: nowrap;
  padding: 0.3rem 0.5rem;
}

.hover-text:before {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 6px;
  border-color: transparent;
  border-bottom-color: #747474;
}

.icon-container:hover .hover-text {
  display: block;
}

/*
  RESPONSIVE PROPERTIES
*/

@media only screen and (max-width: 1300px) {
  .portrait-container {
    height: 25rem;
  }
}

@media only screen and (max-width: 1000px) {
  .skills-icons-container {
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .portrait-container {
    height: 30rem;
  }
}

@media only screen and (max-width: 840px) {
  .portrait-container {
    display: none;
  }

  .text-container {
    display: block;
    position: relative;
    margin-left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 520px) {
  .line-break {
    display: block;
  }

  .skills-icons-container {
    width: 80%;
  }
}

@media only screen and (max-width: 350px) {
  .skills-icons-container {
    width: 100%;
  }
}

/*
  STYLING THE PROJECTS PAGE
  -- container
*/

#projects main {
  margin-bottom: 3rem;
}

#projects h2 {
  margin-bottom: 1.5rem;
}

.project {
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.projects-container {
  width: 100%;
}

.cover-container {
  width: 48%;
  padding-top: 1rem;
}

.project-description {
  width: 48%;
}

.cover-container img {
  width: 100%;
}

/*
  STYLING THE PROJECTS PAGE
  -- project title
*/

.project-title h3, .project-title a {
  display: inline-block;
}

.project-title a {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.project-title a:hover, .fa-circle-exclamation {
  color: gray;
}

.project-title .project-link-extended, .demo-link {
  text-decoration: underline;
}

.project-title .project-link-icon {
  display: none;
}

/*
  STYLING THE PROJECTS PAGE
  -- project notice and popup
*/

.notice {
  margin-bottom: 1.5rem;
  max-width: 13rem;
}

.notice p {
  font-size: 0.9rem;
}

.note, .popup-container {
  display: inline-block;
}

.note-popup {
  display: none;
  z-index: 1;
  background-color: gray;
  color: #FFF;
  text-align: left;
  width: 8.5rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(105%);
}

.popup-container {
  position: relative;
}

.popup-container:hover .note-popup {
  display: block;
}

/*
  STYLING THE PROJECTS PAGE
  -- description container
*/

.description-container p {
  text-align: justify;
  line-height: 1.5;
}

/*
  RESPONSIVE PROPERTIES
*/

@media only screen and (max-width: 1300px) {
  .project-description {
    margin-left: 0;
  }

  .project-title .project-link-icon {
    display: none;
  }

  .project-title .project-link-extended {
    display: inline-block;
  }
}

@media only screen and (max-width: 950px) {
  .cover-container {
    display: none;
  }

  .project-description {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .note-popup {
    right: 0;
    bottom: 150%;
    transform: translateX(-2%);  
  }
}

@media only screen and (max-width: 410px) {
  .project-title .project-link-icon {
    display: inline-block;
  }

  .project-title .project-link-extended {
    display: none;
  }
}

